# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key
# Configure gmaps
gmaps.configure(api_key=g_key)

base_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"

In [2]:
print("https://maps.googleapis.com/maps/api/place/findplacefromtext/json")

https://maps.googleapis.com/maps/api/place/findplacefromtext/json

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
load_csv = "weatherpy.csv"
city_df = pd.read_csv(load_csv)

city_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Iranshahr,0,IR,1614055139,42,27.2025,60.6848,62.60,6.91
1,1,Busselton,0,AU,1614055140,32,-33.6500,115.3333,87.03,7.45
2,2,Carnarvon,0,AU,1614054901,16,-24.8667,113.6333,105.80,12.66
3,3,Punta Arenas,75,CL,1614055140,57,-53.1500,-70.9167,44.60,6.91
4,4,Xining,58,CN,1614055140,36,36.6167,101.7667,48.70,2.95

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps with API key.
gmaps.configure(api_key=g_key)

# Convert Humidity to float and store
# Also, handle NaN values
city_df = city_df.dropna()
humidity = city_df["Humidity"].astype(float)

# Store 'Latitude' and 'Longitude' into  locations. 
locations = city_df[["Lat", "Lng"]].astype(float)

# Create a humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=max(city_df["Humidity"]),
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
narrowed_city_df = city_df.copy()
narrowed_city_df = narrowed_city_df[narrowed_city_df['Max Temp'] >= 0]
narrowed_city_df = narrowed_city_df[narrowed_city_df['Max Temp'] <= 60]  
narrowed_city_df = narrowed_city_df[narrowed_city_df['Wind Speed'] >= 20]
narrowed_city_df = narrowed_city_df[narrowed_city_df['Cloudiness'] >= 30]
narrowed_city_df = narrowed_city_df[narrowed_city_df['Humidity'] <= 70]
narrowed_city_df = narrowed_city_df.dropna()
narrowed_city_df = narrowed_city_df.reset_index()
narrowed_city_df

,index,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,31,31,Ribeira Grande,91,PT,1614055148,64,38.5167,-28.7000,56.86,26.78
1,184,184,Río Gallegos,40,AR,1614055189,65,-51.6226,-69.2181,44.60,21.85
2,245,245,Lagoa,95,PT,1614055204,68,39.0500,-27.9833,55.99,30.69

Addded humidity and differing temperatures as I hate the heat and the humidity!

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = narrowed_city_df
hotel_df["Hotel Name"] = np.nan

hotel_df = hotel_df.drop(columns=['index'])
hotel_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,31,Ribeira Grande,91,PT,1614055148,64,38.5167,-28.7000,56.86,26.78,NaN
1,184,Río Gallegos,40,AR,1614055189,65,-51.6226,-69.2181,44.60,21.85,NaN
2,245,Lagoa,95,PT,1614055204,68,39.0500,-27.9833,55.99,30.69,NaN

In [7]:
Hotels = []
results = []

hotel_df = narrowed_city_df

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

print("Begining Data Retrieval")
print(f"-------------------------------")

for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    
    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
   
    results = response['results']
        
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        hotel_df.dropna()
        
    except(KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Begining Data Retrieval
-------------------------------
Retrieving Results for Index 0: Ribeira Grande.
Closest hotel is Quinta da Meia Eira.
------------
Retrieving Results for Index 1: Río Gallegos.
Closest hotel is Hotel Santa Cruz.
------------
Retrieving Results for Index 2: Lagoa.
Closest hotel is Casa Das Faias.
------------

In [8]:
hotel_df

,index,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,31,31,Ribeira Grande,91,PT,1614055148,64,38.5167,-28.7000,56.86,26.78,Quinta da Meia Eira
1,184,184,Río Gallegos,40,AR,1614055189,65,-51.6226,-69.2181,44.60,21.85,Hotel Santa Cruz
2,245,245,Lagoa,95,PT,1614055204,68,39.0500,-27.9833,55.99,30.69,Casa Das Faias

In [9]:
# NOTE: Do not change any of the code in this cell
locations = hotel_df[["Lat", "Lng"]]
markers = gmaps.marker_layer(locations)

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map

hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=hotel_info
)

# Display figure
fig.add_layer(markers)
fig.add_layer(hotel_layer)
fig

Figure(layout=FigureLayout(height='420px'))